* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ccb296;;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
}

main {
  background-color: #F5F5F5;
  min-height: 550px;
  width: 800px;
  padding-block: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.die-face {
  display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);

	flex: 0 0 auto;
	margin: 16px;
	padding: 10px;
	width: 80px;
	height: 80px;

	border-radius: 10%;
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #333;
	box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
	grid-area: g;
}

.roll-number {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.win {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #814d1a;
}

.roll-win {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #814d1a;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #b48b63;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}